---
title: Mes projets
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
layout: base.njk
eleventyNavigation:
  key: projets 
  order: 2
---

<h1 class="mb"><strong>Projets</strong></h1>
{% include "partials/table.njk" %}
