<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir}}"> 
    <head>
    {% include "partials/head.njk" %}
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main>{{ content | safe }}</main>
        {% include "partials/footer.njk" %}
    </body>
    <script type="text/javascript" src="/scripts.js"></script>
</html>