<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir}}">
    <head>
        {% include 'partials/head.njk' %}
    </head>
    <body>
        <a href="#main-content" class="skip-link">{{ languages[page.lang].skipToContent }}</a>
        {% include "partials/header.njk" %}
        <main id="main-content">

            <section id="documentation">
                {{ content | safe }}
            </section>
        </main>
        {% include "partials/footer.njk" %}
        <script src="/scripts.js" defer></script>
    </body>
</html>