---
permalink : bootsfeed.xml
eleventyExcludeFromCollections: true
metadata:
    title: Lionel Pinheiro Boots 2022
    description: My journey throught the rxb's boots
    url: https://lionelpinheiro.com/boots/
    feedUrl: https://lionelpinheiro.com/bootsfeed.xml
    author:
        name: Lionel Pinheiro
        email: contact.pinheiro.lionel@gmail.com
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ metadata.title }}</title>
        <description>{{ metadata.description }}</description>
        <link href="{{ metadata.feedUrl }}" rel="self"/>
        <link href="{{ metadata.url }}"/>
        <id>{{ metadata.url }}</id>
        {%- for week in collections.boots -%}
            {% set absolutePostUrl %}
            {{ week.url | url | absoluteUrl(metadata.url) }}
            {% endset %}
            <item>
                <title>{{ week.data.title }}</title>
                <guid>{{ absolutePostUrl }}</guid>
                <link href="{{ absolutePostUrl }}"/>
                <pubDate>{{ week.date.toUTCString() }}</pubDate>
                <description type="html">{{ week.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
                <author>
                    <name>{{ metadata.author.name }}</name>
                    <email>{{ metadata.author.email }}</email>
                </author>
            </item>
        {%- endfor -%}
    </channel>
</rss>