---
layout: base.njk
title: Lionel Pinheiro Duarte
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
eleventyNavigation:
  key: accueil
  order: 1
templateEngineOverride: njk, md
---

{% include "partials/hero.njk" %}

Bonjour, je suis un développeur situé en **France**.

Mes centres d'intérêts sont le deploiment d'applications sur le **cloud**
et la conception de **CLI**.
