table,th,tr {
  font-family: var(--font-family);
  color: var(--color-content);
}
table{
  border-collapse: collapse;
}
td > a {
    text-decoration:none;
}
th {
  text-align: left;
  color: gray;
}
td {
  padding-block: 0.5rem;
  border-bottom: 1px solid gray;
}

td:nth-child(1){
  font-weight:bold;
}
td:last-child{
  width: 3.5rem;
}

