<form id="form_contact">
    <label>Nom</label>
    <input/>
    <label>Sujet</label>
    <input/>
    <label>Votre messsage</label>
    <textarea name="textarea" rows="8"></textarea>
    <button>Envoyez votre message</button>
</form>