<form id="form_contact">
    <label for="name_input">Nom</label>
    <input name="name" id="name_input" type="text"/>
    <label for="subject_input">Sujet</label>
    <input name="subject" id="subject_input" type="text"/>
    <label for="message_input">Votre messsage</label>
    <textarea name="message" id="message_input" rows="8"></textarea>
    <button type="submit">Envoyez votre message</button>
</form>