<li class="project_card">
    <a href="{{projet.url}}">
        <img src="{{projet.data.thumbnail}}"/>
        <div class="project_card_content">
            <h3>{{ projet.data.title }}</h3>
            <p>{{ projet.data.description  }}</p>
        </div>
    </a>
</li>