{# <li class="project_card">
    <a href="{{projet.url}}">
        <article class="project_card_content">
            <header>
                <h3>{{ projet.data.title }}</h3>
            </header>
            <div>
                <p>{{ projet.data.description  }}</p>
            </div>
        <article>
    </a>
</li> #}
<li class="project_card">
    <a href="{{projet.url}}">
        <div class="project_card_content">
            <h3>{{ projet.data.title }}</h3>
            <p>{{ projet.data.description  }}</p>
        </div>
    </a>
</li>