<li class="project_card">
    <a href="{{projet.url}}">
        <img src="{{projet.data.thumbnail}}"/>
        <h3>{{ projet.data.title }}</h3>
        <p>{{ projet.data.description  }}</p>
    </a>
</li>