<table>
  <thead>
    <tr>
      <th>Projet</th>
      <th>Description</th>
      <th>Liens</th>
    </tr>
  </thead>
  <tbody>
    {% for projet in collections.projets %}
    <tr>
      <td><a href="{{ projet.url }}">{{ projet.data.title }}</a></td>
      <td>{{ projet.data.description}}</td>
      {% for lien in projet.data.links %}
      <td><a href="{{ projet.data.links}}">Lien</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

