---
layout: base.njk
title: Lionel Pinheiro Duarte
description: Bienvenue sur mon portfolio, installez-vous et apprenez à me connaître. 
templateEngineOverride: njk, md
permalink: /fr/accueil
---

{% include "partials/hero.njk" %}

Bonjour, je suis un **développeur web** situé en **France**.

Mes centres d'intérêt actuels sont le déploiement d'applications dans le **cloud** et la conception de **CLIs**.

## **Projets**
{%include 'partials/projects.njk'%}