#documentation h1,h2, h3{
  text-transform: none;
}
#documentation h2{
  margin:1rem 0 0.5rem 0;
  font-weight: 600; 
}
#documentation h3{
  font-size: 1.10rem;
  margin: 1rem 0 0.5rem 0;
  font-weight: 500;
}

@media only screen and (min-width: 375px) {
  body {
    width: 26rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 45rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    width: 45rem;
  }
}