h2,h3{
  margin: 1rem 0;
}
h3{
  font-size: 1.10rem;
}
nav ul {
  margin:0;
}
ul li {
  margin-bottom: 0.3rem;
}

body {
  width: 20rem;
  margin: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

@media only screen and (min-width: 375px) {
  body {
    width: 26rem;
  }
  ul {
    margin-left: 1.7rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 45rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    width: 55rem;
  }
}