h2,h3{
  margin: 1rem 0;
}
h3{
  font-size: 1.10rem;
}

ul li {
  margin-bottom: 0.3rem;
}

@media only screen and (min-width: 375px) {
  body {
    width: 26rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 45rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    width: 45rem;
  }
}