#contact_section {
  display: flex;
}

.contact_content p {
  font-size: 1rem;
}

.mail {
  margin-top: 1rem;
}
.mail span {
  font-weight: bold;
}

.contact_social {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.contact_social li {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.contact_social li ion-icon {
  margin-right: 0.5rem;
}

#contact_info {
  width: 25rem;
}

@media only screen and (min-width: 375px) {
  #contact_section {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  #contact_section {
    flex-direction: column;
  }
}
