<footer>
    <div></div>
    <p>&copy; Lionel Pinheiro Duarte {% year %}</p>
    <div>
    {% for link in page.url | locale_links %} {%-if not loop.first %}/{% endif %}
        <a class="animation" href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}" title="{{languages[page.lang].availableText}}">
            {{ link.label }}
        </a>
    {% endfor %}
    </div>
</footer>