<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<meta name="language" content="{{ page.lang }}">
<meta name="keywords" content="Developper, Golang, GO, HTML, CSS, AZURE, AWS">
<meta name="author" content="Lionel Pinheiro Duarte">
<link rel="icon" type="image/x-icon" href="/images/favicon.svg">
<link href="{{ '/styles/styles.css' | url }}" rel="stylesheet">
<title>{{ title }}</title>