<table>
  <thead>
    <tr>
      {% for th  in  languages[page.lang].th %}
      <th>{{ th }}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
  {% for projet in collections["projects_" + [page.lang]] %}
    <tr>
      <td><a href="{{ projet.url }}">{{ projet.data.title }}</a></td>
      <td>{{ projet.data.description}} {{[page.lang]}}</td>
      <td class="flex-inline">
      {% if projet.data.repo %}
        <a href="https://github.com/lionelpinheiroduarte/{{ projet.data.repo }}" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      {% endif %}
      {% if projet.data.websiteUrl %}
        <a href="{{ projet.data.websiteUrl }}">
          <ion-icon name="link-outline"></ion-icon>
        </a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>